button{
    border: none;
    padding: 0 .6rem;
    border-radius: 5px;
}
button.close{
    background-color: rgb(218, 50, 50);
    font-size: 2rem;
    color: white;
    transition: all .2s;
}
button.close:hover{
    background-color: rgb(173, 39, 39);
}
.cart{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    
}
.cart .numberOfItems{
    background-color: tomato;
    height: 30px;
    flex: 0 0 30px;
    border-radius: 50%;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
}
.cart .shoppingCart{
    position: absolute;
    background-color: aliceblue;
    padding: 2rem 1.5rem;
    top: 6rem;
    min-width: 40%;
    border-radius: 5px;
}
.cart .shoppingCart .cartHeader{
    margin-bottom: 1rem;
}
.cart .shoppingCart .cartList{
    list-style: none;
}
.cart .shoppingCart .cartList .cartItem{
    padding: .5rem 0;
    border-bottom: 1px solid rgb(24, 24, 24);
}
.cart .shoppingCart .cartList .cartItem:first-child{

    border-top: 1px solid rgb(24, 24, 24);

}
.cart .shoppingCart .cartList .cartItem .cartItemContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
