.cart{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    
}
.cart .numberOfItems{
    background-color: tomato;
    height: 30px;
    flex: 0 0 30px;
    border-radius: 50%;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
}
.cart .shoppingCart{
    position: absolute;
    background-color: aliceblue;
    padding: 1rem;
    bottom: -5rem;
}
.cart .shoppingCart ul{
    list-style: none;
}
.cart .shoppingCart ul li{
    padding: 1rem 0;
}